# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
*.egg

# Logs
*.log

# SQLite (если используется для dev)
*.sqlite3

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
downloads/
parts/
sdist/
var/
.installed.cfg

# Pytest
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Docker
*.pid
*.sock
docker-compose.override.yml

# Celery
celerybeat-schedule
celerybeat.pid

# FastAPI / Uvicorn
*.db

# Environment files
.env
.env.*

shared